<div title="Home" id="page1" class="row">
    <div padding="true" class="has-header">
        <div class="calm list card itemtrans" style="padding:15px">
            <div class="tabbable" id="tabs-700749">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="" data-toggle="tab" data-target="#tab1">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="tab" data-target="#tab2">Galeri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="tab" data-target="#tab3">Map</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <p style="color: black;">
                            {{model.keterangan}}
                        </p>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="row">
                                <div class="col-md-4" ng-repeat="item in model.gambar">
                                    <div class="card">
                                        <img class="card-img-top" alt="Bootstrap Thumbnail First"
                                            src="./client/berkas/{{item.file}}" height="400px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- <script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script> -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR1DVTQS77gTqybI9C10eZeJx98Ty_PUo&callback=initMap"></script> -->