<div title="Home" id="page1" class="row">

    <div padding="true" class="has-header">
        <form id="home-form2" class="">
            <label class="item item-select itemtrans light" id="home-select1" style="color:#000000">
                <span class="input-label light">Kategori</span>
                <select style="background-color:rgba(255, 255, 255,0.1)" ng-class="itemtrans"
                    ng-options="item as item.nama for item in Categories" ng-model="selectedOption">
                    <option value="">-- Pilih --</option>


                </select>
            </label>
            <label class="item item-input itemtrans">
                <!-- <i class="icon ion-search placeholder-icon"></i> -->
                <input class="form-control" ng-model="cari" type="search" placeholder="Cari">
            </label>
        </form>


        <div ng-repeat="item in selectedOption.objek">
            <div class="calm list card itemtrans" style="padding:15px">
                <div style="margin: 0px; line-height: 250px; text-align: center;">
                    <a ui-sref="guest-detail({ id: {{item.idobjek}} })" id="home-button3" title="{{item.nama}}"><img class="col-md-12" style="height:100%"
                        src="./client/berkas/{{item.gambar[0].file}}" /></a>
                </div>
            </div>
            <br>
            <br>
        </div>


    </div>
</div>