<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-image: url('img/main.jpg');  no-repeat: center; background-size: cover;">
        <ion-header-bar class="bar-calm">
            <div class="title">About</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header"  >
            <ion-item class="item item-profile itemtrans" style="height:100%;">
                <div style="margin-left:auto;margin-right:auto;width:100px;display:block">
                    <img width="100" src="img/photo.png" />  
                </div>
                <h4 style="text-align:center;color:#808080">GRACE C. I. WUTOY TANGKE LEMBANG</h4>
                <h2 style="text-align:center;color:#808080">NPM: 201211004</h2>

                <div class="spacer" style="height:210px"></div>

                <div style="margin-left:auto;margin-right:auto;width:50px;display:block">
                    <img width="50" src="img/stimikpng.png" />
                </div>
                <h2 style="text-align:center;color:#808080">STIMIK SEPULUH NOPEMBER</h2>
                <h4 style="text-align:center;color:#808080">PROGRAM STUDI TEKNIK INFORMATIKA</h4>
                <h2 style="text-align:center;color:#808080">2016</h2>
                <div class="spacer" style="height:200px"></div>
            </ion-item>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>