<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-home"></i> Home </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a ui-sref="admin-home" class="breadcrumb-link">YPK</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="siswa">
            <div class="siswa-logo">
                <img src="/client/images/ypk.png" alt="">
            </div>
            <div class="siswa-header">
                <h2>SMA YPK DIASPORA KOTARAJA</h2>
                <h4>Jalan Lintas Liwa No 16, Kotaraja </h4>
                <h4>KOTA JAYAPURA - PAPUA 99225</h4>
            </div>

        </div>
    </div>

</div>