<div style="margin-bottom: 10px;" ng-init="Init()">
    <div ng-show="!$ctrl.showview" class="input-group mb-3">
        <input id="{{$ctrl.idname}}" style="display: none;" type="file">
        <input ng-model="$ctrl.fileName" type="text" class="form-control" placeholder="Pilih File">
        <div class="input-group-append">
            <a class="input-group-text" ng-click="openFile()">File</a>
        </div>
    </div>
    <img ng-show="$ctrl.showview" ng-click="openFile()" style="width:100%; height: {{$ctrl.height}}px;"
        data-ng-src="data:image/png;base64,{{$ctrl.model}}" src="{{$ctrl.src}}" />
</div>